<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.project.bookmark.mapper.BookmarkMapper">
 	<insert id="insertBookmark" parameterType="map">
 	INSERT INTO `bookmark`
 	(
 		`mtId`
		, `userId`
		, `createdAt`
		, `updatedAt`
 	)
 	VALUES
 	(
 		#{mtId}
 		, #{userId}
 		, NOW()
 		, NOW()
 	)
 </insert>
 <select id="selectBookmarkByMtId" resultType="com.project.bookmark.domain.Bookmark">
 	SELECT
		`id`
		, `mtId`
		, `userId`
		, `createdAt`
		, `updatedAt`
	FROM
		`bookmark`
	WHERE
		`mtId` = #{mtId}
 </select>
 </mapper>