<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.project.bookmark.mapper.BookmarkMapper">
 <select id="selectBookmarkCountByMtIdOrUserId" parameterType="map" resultType="int">
 	SELECT
 		COUNT(*)
 	FROM
 		`bookmark`
 	WHERE
 		`mtId` = #{mtId}
 		<if test="userId != null">
 		AND `userId` = #{userId}
 		</if>
 </select>
 <insert id="insertBookmark" parameterType="map">
 	INSERT INTO `bookmark`
 	(
 		`mtId`
 		, `userId`
 		, `createdAt`
 	)
 	VALUES
 	(
 		#{mtId}
 		, #{userId}
 		, NOW()
 	)
 </insert>
 	
 <delete id="deleteBookmarkByMtIdUserId" parameterType="map">
 	DELETE
	FROM
		`bookmark`
	WHERE
		`mtId` = #{mtId}
		AND `userId` = #{userId}
 </delete>	
 <select id="selectBookmarkByMtIdUserId" resultType="com.project.bookmark.domain.Bookmark">
 	SELECT
		`id`
		, `mtId`
		, `userId`
		, `createdAt`
		, `updatedAt`
	FROM
		`bookmark`
	WHERE
		`mtId` = #{mtId}
		AND `userId` = #{userId}
 </select>
 <select id="selectBookmarkList" resultType="com.project.bookmark.domain.Bookmark">
 	SELECT
		`id`
		, `mtId`
		, `userId`
		, `createdAt`
		, `updatedAt`
	FROM
		`bookmark`
	WHERE
		`mtId` = #{mtId}	
 </select>
 </mapper>