<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.project.review.mapper.ReviewMapper">
 <select id="selectReviewListByMtId" parameterType="int" resultType="com.project.review.domain.Review">
 	SELECT
 		`id`
		, `mtId`
		, `userId`
		, `content`
		, `imagePath`
		, `createdAt`
		, `updatedAt`
	FROM
		`review`
	WHERE
		`mtId` = #{mtId}	
	ORDER BY `id` DESC
 </select>
 <insert id="insertReview" parameterType="map">
 	INSERT INTO `review`
 	(
 		`mtId`
		, `userId`
		, `content`
		, `imagePath`
		, `createdAt`
		, `updatedAt`
 	)
 	VALUES
 	(
 		#{mtId}
 		, #{userId}
 		, #{content}
 		, #{imagePath}
 		, NOW()
 		, NOW()
 	)
 </insert>
 <select id="selectReviewByReviewIdUserId" parameterType="map" resultType="com.project.review.domain.Review">
 		SELECT
			`id`
			, `mtId`
			, `userId`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`review`
		WHERE
			`userId` = #{userId}
			AND `id` = #{reviewId}
 </select>
 <update id="updateReviewByReviewIdUserId" parameterType="map">
 		UPDATE `review`
 		SET
 			`content` = #{content}
 			<!-- imagePath가 있을 때만 수정 -->
 			<if test="imagePath != null">
 			, `imagePath` = #{imagePath}
 			</if>
 			, `updatedAt` = NOW()
 		WHERE
 			`id` = #{reviewId}
 			AND `userId` = #{userId}
 	</update>
 	<delete id="deleteReviewByReviewIdUserId" parameterType="map">
 		DELETE
 		FROM
 			`review`
 		WHERE
 			`id` = #{reviewId}
			AND `userId` = #{userId}
 	</delete>
 	<update id="updateReviewView">
 		UPDATE `review`
 		SET
 			`view` = `view` + 1
 		WHERE
 			`id` = #{id}
 	</update>
 </mapper>