@charset "UTF-8";


header {
	height:80px;
	background-color: darkseagreen;
	}
.contents {
	min-height:500px;
	width:600px;
	margin:auto;
	}

footer {
	height:100px;
	background-color:lightgrey;
	}
.nav-item .nav-link:hover {color:forestgreen !important;}
.menu-login:hover {color:forestgreen !important;}

.mount-box {
	border-color:darkseagreen;
	border-width: 3px;
	border-style: solid;
}
.mount-box:hover {
	background-color:darkgray;
	text-decoration:none; 
	color:#000;}


.already-sign-up:hover {
	text-decoration:underline;
	}	

.map-box {
	height:300px;
}
